.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .filters button {
    padding: 8px 16px;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    background-color:transparent; 
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: background-color 0.3s ease;
  }
  
  .filters button:hover,
  .filters button.active {
    background-color: #d2b4de; 
    color: #333;
  }
  